@page "/"

<h1>Hello, world!</h1>

<div class="px-16 text-red bg-gray-400"></div>
Welcome to your new app.

<Button Type="primary">Hello World!</Button>


<iframe src="http://192.168.1.220:8188" title="comfy-UI"></iframe>