@page "/loading"

<div class="mt-64 max-w-2xl mx-auto" >
    <Alert Type="info" >
        <Flex Justify="center" Align="center" Gap="middle" >
            <Spin />
            <Text>正在打开 ComfyUI 界面中</Text>
        </Flex>
    </Alert>

</div>

@code {

}
