@page "/settings"

<div class="bg-gray-100">
    <Layout Class="mx-auto max-w-2xl py-4">
        <Layout>
            <Content>
                <Flex Gap="small" Vertical="true">
                    <MirrorSettingsCard></MirrorSettingsCard>

                    <GitSettingsCard></GitSettingsCard>

                    <ComfyUIPythonSettingsCard></ComfyUIPythonSettingsCard>

                    <GpuSettingsCard></GpuSettingsCard>
                    
                </Flex>
            </Content>
        </Layout>
        <Footer Style="text-align:center ">Comfy MAUI ©2024 Created by 百法难治</Footer>
    </Layout>
</div>

@code {
}
