@using Microsoft.Extensions.Logging
@inject SettingsService settingsService
@inject IMessageService _message
@inject ILogger<MirrorSettingsCard> logger

<SkeletonBox OnLoad="Load">
    <Skeleton>
        <Card Title="镜像" Hoverable="true">
            <Body>
                <Skeleton Active="true"></Skeleton>
            </Body>
        </Card>
    </Skeleton>
    <ChildContent>
        <Card Title="镜像" Hoverable="true">
            <Extra>
            </Extra>
            <Body>
                <Flex Vertical="true" Gap="small">
                    <Flex Justify="space-between" Align="center">
                        <label class="font-bold">GitHub 镜像地址</label>
                        <Flex Class="w-1/2">
                            <Input Placeholder="GitHub" @bind-Value="@GitHubMirror" DebounceMilliseconds="100">
                                <AddOnAfter><Icon Type="github"></Icon></AddOnAfter>
                            </Input>
                        </Flex>
                    </Flex>
                    <Flex Justify="space-between" Align="center">
                        <label>HuggingFace 镜像地址</label>
                        <Flex Class="w-1/2">
                            <Input Placeholder="HuggingFace" @bind-Value="@(HuggingFaceMirror)" DebounceMilliseconds="100">
                                <AddOnAfter><Icon Type="thunderbolt"></Icon></AddOnAfter>
                            </Input>
                        </Flex>
                    </Flex>

                    <Flex Justify="space-between" Align="center">
                        <label>Pip 镜像地址</label>
                        <Flex Class="w-1/2">
                            <Input Placeholder="Pip" @bind-Value="@(PipMirror)" DebounceMilliseconds="100">
                                <AddOnAfter><Icon Type="node-index"></Icon></AddOnAfter>
                            </Input>
                        </Flex>
                    </Flex>
                </Flex>
                <Divider></Divider>
                <Flex Justify="end">
                    <Popconfirm Title="确认修改吗?"
                    Visible="_visible"
                    OnConfirm="Confirm"
                    OnCancel="Cancel"
                    OkText="Yes"
                    CancelText="No">
                        <Button Type="primary" Size="small" Class="text-gray-400">保存</Button>
                    </Popconfirm>
                </Flex>
            </Body>
        </Card>
    </ChildContent>
</SkeletonBox>
@code {
    private MirrorSettings MirrorSettings { get; set; } = new();

    private bool _visible;
    private async Task Load()
    {
        MirrorSettings = (await settingsService.Get<MirrorSettings>(MirrorSettings.Key) ?? new());
        
    }

    private string GitHubMirror
    {
        get => MirrorSettings.GitHubMirror;
        set => MirrorSettings.GitHubMirror = value;
    }

    private string HuggingFaceMirror
    {
        get => MirrorSettings.HuggingFaceMirror;
        set => MirrorSettings.HuggingFaceMirror = value;
    }

    private string PipMirror
    {
        get => MirrorSettings.PipMirror;
        set => MirrorSettings.PipMirror = value;
    }

    private void SaveMirror()
    {
        _visible = true;
    }

    private async Task Confirm()
    {
        try
        {
            _visible = false;
            await settingsService.Set(MirrorSettings.Key, MirrorSettings);
            await _message.Success("保存成功");
        }
        catch (Exception exception)
        {
            await _message.Warning("保存失败");
            logger.LogWarning(exception, "保存镜像失败");
        }
    }

    private void Cancel()
    {
        _visible = false;
    }

}
