@page "/install-wizard"
@using ComfyMAUI.Components.Layout
@inject IMessageService message
@inject InstallWizardViewModel _viewModel
@implements IDisposable


<Card Title="安装 ComfyUI 向导" Class="h-screen flex flex-col">
    <Extra>
        <Button OnClick="ClosePopup" Type="@ButtonType.Text">
            <Icon Type="close" Theme="outline" />
        </Button>
    </Extra>
    <Body>
        <CascadingValue Value="_viewModel">
            <div class="flex-1 flex flex-col" >
                <Steps Current="_current">
                    @foreach (var item in steps)
                    {
                        <Step Title="@item.Title" Subtitle="安装" />
                    } 
                </Steps>

                <div class="flex-1 mt-4 round-md flex flex-col">
                    @steps[_current].Content
                </div>
            </div>
        </CascadingValue>
    </Body>
</Card>

<style>
    .ant-card-body{
    flex:1;
    display: flex;
    flex-direction: column;
    }
</style>

@code {

    [CascadingParameter]
    public SettingsPopupViewModel SettingsPopupViewModel { get; set; }

    private Subject<bool> _disposed = new();
    private int _current;

    public async Task ClosePopup()
    {
        await SettingsPopupViewModel.CloseAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        await _viewModel.Initialize();

        _viewModel.CurrentSubject
        .TakeUntil(_disposed)
        .Do(current =>
        {
            _current = current;
            InvokeAsync(StateHasChanged);
        })
        .Subscribe();
    }

    public class StepItem
    {
        public string Title { get; set; }
        public RenderFragment Content { get; set; }
    }

    public StepItem[] steps =
    {
        new StepItem {Title = "镜像", Content = @<MirrorSetup></MirrorSetup> },
        new StepItem {Title = "Git 代码管理", Content = @<GitSetup></GitSetup>},
        new StepItem {Title = "ComfyUI安装", Content = @<ComfyUISetup></ComfyUISetup>},
        new StepItem {Title = "节点下载", Content = @<CustomNodeSetup></CustomNodeSetup>}
    };

    public void Dispose()
    {
        _disposed.OnNext(true);
        _viewModel.Dispose();
    }
}
